@model IEnumerable<ProductCategory>

@{
    ViewData["Title"] = "ProductCategory";
    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}

<h1>ProductCategories</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<partial name="_SearchBox" model="pager" />

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                ProductsCount
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rowguid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParentProductCategory)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @item.Products.Count
                <td>
                        @Html.DisplayFor(modelItem => item.Rowguid)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.ModifiedDate)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.ParentProductCategory.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProductCategoryId" asp-route-pg="@TempData["page"]" asp-route-search="@TempData["currentFilter"]" asp-route-pageSize="@TempData["pageSize"]">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ProductCategoryId" asp-route-pg="@TempData["page"]" asp-route-search="@TempData["currentFilter"]" asp-route-pageSize="@TempData["pageSize"]">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ProductCategoryId" asp-route-pg="@TempData["page"]" asp-route-search="@TempData["currentFilter"]" asp-route-pageSize="@TempData["pageSize"]">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<partial name="_Paging" model="pager" />

<script>
    function ChangePageSize(obj) {
        var singleValues = $("#searchText").val();
        window.location.href = "/ProductCategories/Index" + "?pageSize=" + obj.value;
    }
</script>
